@use '@angular/material' as mat;

.client-list-title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3f51b5; /* Couleur principale */
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); /* Effet de légère ombre */
}

.client-list-title span {
  margin-right: 10px;
  font-size: 2.2rem;
}

.client-card {
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Ajoute de l’espace entre les éléments dans la carte */
}

button.mat-raised-button {
  align-self: flex-start;
  margin-bottom: 10px; /* Espace sous le bouton */
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px; /* Espace entre la barre de recherche et le tableau */
}

table {
  width: 100%;
}

th, td {
  text-align: left;
  padding: 10px;
}

mat-icon {
  font-size: 20px;
}

button[color="primary"] {
  color: #1976d2;
}

button[color="warn"] {
  color: #d32f2f;
}

table[color="primary"] {
  color: #1976d2;
}

table[color="warn"] {
  color: #d32f2f;
}

.primary-background {
  background-color: mat.m2-get-color-from-palette(mat.$magenta-palette); 
  // color: white; // Assurez-vous que le texte est lisible sur le fond
}
