<div class="welcome-section">
    <h1 class="title">Bienvenue sur l'application PHILOBM</h1>
    <p class="description">
      Simplifiez la gestion de votre entreprise automobile ! L'application PHILOBM vous permet de gérer efficacement vos clients, leurs véhicules, les services que vous proposez, et la facturation.
    </p>
    <p class="instruction">Veuillez sélectionner une option dans le menu pour démarrer.</p>
    <div class="car-image-container">
      <img src="../../../assets/bmw-m-series-seo-overview-ms-04.jpg" alt="Voiture élégante" class="car-image" />
      <img src="../../../assets/bmw-m-series-seo-overview-ms-08.jpg" alt="Voiture sportive" class="car-image" />
    </div>
  </div>
  