<h1 class="invoice-list-title">
    <span>💼</span> Liste des Factures
  </h1>
  
  <mat-card class="invoice-card">
    <button mat-raised-button color="primary" (click)="addInvoice()">Ajouter Facture</button>
  
    <mat-form-field>
      <mat-label>Rechercher une facture...</mat-label>
      <input matInput [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()" placeholder="Tapez pour rechercher...">
    </mat-form-field>
  
    <table mat-table [dataSource]="invoices" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Client </th>
        <td mat-cell *matCellDef="let invoice"> {{invoice.client?.firstName}} {{invoice.client?.lastName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="car">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Voiture </th>
        <td mat-cell *matCellDef="let invoice"> {{invoice.car?.licensePlate}} {{invoice.car?.mileage + 'km'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let invoice"> {{invoice.date | date:'shortDate'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="services">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Services </th>
        <td mat-cell *matCellDef="let invoice"> 
          <span *ngFor="let service of invoice.services">{{service.name}} </span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let invoice">
          <button mat-icon-button color="primary" aria-label="Edit invoice" (click)="editInvoice(invoice)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Delete invoice" (click)="deleteInvoice(invoice)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="accent" aria-label="Print invoice" (click)="printInvoice(invoice)">
            <mat-icon>print</mat-icon>
          </button>
        </td>
      </ng-container>
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  </mat-card>
  