<h2 mat-dialog-title class="dialog-title">{{ data?.id ? 'Modifier' : 'Ajouter' }} une Facture</h2>
<mat-dialog-content class="dialog-content">
  <form [formGroup]="invoiceForm">

    <app-owner-select
        [carForm]="invoiceForm"
        (clientCleared)="onClientCleared()">
      </app-owner-select>

      <app-car-select
        [carForm]="invoiceForm"
        (carCleared)="onCarCleared()">
      </app-car-select>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (invoiceForm.get('date')?.hasError('required')) {
        <mat-error>La date est requise.</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Services</mat-label>
      <mat-select formControlName="services" multiple>
        @for (service of services; track service.id) {
          <mat-option [value]="service">
            {{ service.description }}
          </mat-option>
        }
      </mat-select>
      @if (invoiceForm.get('services')?.hasError('required')) {
        <mat-error>Sélectionnez au moins un service.</mat-error>
      }
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="cancel()">Annuler</button>
  <button mat-button color="primary" (click)="saveInvoice()">Enregistrer</button>
</mat-dialog-actions>
